<!-- Portfolio Grid Section -->
<style>

    .row {
        flex: auto;
  display: flex;
  flex-direction: row;
    }

    .screenshot-description {
        height: 40%;
    }

    .screenshot-image {
        max-width: 100%;
    max-height: 100%;
    }

    .button-grid {
        justify-content: center;
        display: grid;
        padding: 3rem;
    }
    .button-item {
        background-color: #EDE0D4;
        border-radius: 2rem;
        border: none;
        padding: 1rem;
        font-size: 1.5rem;
        font-family: inherit;   
        color: black;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .container {
flex: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.container-item {
    height: fit-content;
    width: max-content;
    width: 70%;
}

@media only screen and (max-width: 800px) {
  .container { flex-wrap: wrap;  }
}

</style>

<div>
    <div class="button-grid" style="align-items: center;">
        <a href="https://apps.apple.com/us/app/bestronger-fitness-tracker/id1553022771">
            <Button class="button-item">
                <i class="fab fa-apple fa-1.5x" style="color: black;"></i>
                Download from Apple Store
            </Button>
        </a>
    </div>
    <div class="row">
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>See what's the session of today</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/bestronger_screenshot_00.png">
        </div>

        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Keep track of your training programs</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/bestronger_screenshot_01.png">
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Look at the detail of each set</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/bestronger_screenshot_02.png">
        </div>

        <div class="column">
            <div class="screenshot-description"></div>
            <h2>See your statistics</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/bestronger_screenshot_03.png">
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Use the calendar to see the following sessions</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/bestronger_screenshot_04.png">
        </div>
    </div>
</div>