<!-- Portfolio Grid Section -->
<style>

    .row {
        flex: auto;
  display: flex;
  flex-direction: row;
    }

    .screenshot-description {
        height: 40%;
    }

    .screenshot-image {
        max-width: 100%;
    max-height: 100%;
    }

    .button-grid {
        justify-content: center;
        display: grid;
        padding: 3rem;
    }
    .button-item {
        background-color: #EDE0D4;
        border-radius: 2rem;
        border: none;
        padding: 1rem;
        font-size: 1.5rem;
        font-family: inherit;   
        color: black;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .container {
flex: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.container-item {
    height: fit-content;
    width: max-content;
    width: 70%;
}

@media only screen and (max-width: 800px) {
  .container { flex-wrap: wrap;  }
}

</style>

<div>
    <div class="button-grid" style="align-items: center;">
        <a href="https://play.google.com/store/apps/details?id=com.game_gallery">
            <Button class="button-item">
                <i class="fab fa-google-play fa-1.5x" style="color: black;"></i>
                Download from Google Play
            </Button>
        </a>
    </div>
    <div class="row">
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>See what's trending now</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_00.png">
        </div>

        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Get the details of the game</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_01.png">
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Search new titles</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_02.png">
        </div>

        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Create your personal catalogue</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_03.png">
        </div>
        <div class="container">

            <div style="flex-grow: 5; flex-basis: 50%;">
                <h2>Dark is even better!</h2>
            </div>
            <div class="container-item" style="flex-grow: 1;">
                <img alt="gamegallery-screenshot-00-dark" class="screenshot-dark-image" id="screenshot-dark-image" src="/assets/img/screenshots/gamegallery_screenshot_00_dark.png">
            </div>
            <div class="container-item" style="flex-grow: 1;">
                <img alt="gamegallery-screenshot-01-dark" class="screenshot-dark-image" class="screenshot-image" id="screenshot-dark-image" src="/assets/img/screenshots/gamegallery_screenshot_01_dark.png">
            </div>
        </div>
    </div>
</div>