<!-- Portfolio Grid Section -->
<style>
    .screenshot-description {
        height: 50%;
    }

    .screenshot-image {
        height: 50%;
    }
    #screenshot-dark-image {
        border-radius: 8px;
        width: 30%;
    }
</style>

<div>
    <div class="row">
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_00.jpg">
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>See what's trending now</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Get the details of the game</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_01.jpg">
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_02.jpg">
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Search new titles</h2>
            <div class="screenshot-description"></div>
        </div>
            <div class="column">
                <div class="screenshot-description"></div>
                <h2>Create your personal catalogue</h2>
                <div class="screenshot-description"></div>
            </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_03.jpg">
        </div>
        <div >
            <h2>Dark is even better!</h2>
        </div>
        <div class="row">
            <img id="screenshot-dark-image" alt="gamegallery-screenshot-00-dark" class="" src="/assets/img/screenshots/gamegallery_screenshot_00_dark.jpg">
            <img id="screenshot-dark-image" alt="gamegallery-screenshot-01-dark" class="" src="/assets/img/screenshots/gamegallery_screenshot_01_dark.jpg">   
            <img id="screenshot-dark-image" alt="gamegallery-screenshot-02-dark" class="" src="/assets/img/screenshots/gamegallery_screenshot_02_dark.jpg">
        </div>
    </div>
</div>