<!-- Portfolio Grid Section -->
<style>
    .screenshot-description {
        height: 50%;
    }

    .screenshot-image {
        height: 50%;
    }
    #screenshot-dark-image {
        border-radius: 8px;
        width: 50%;
    }
</style>

<div>
    <div class="row">
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_00.jpg">
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>See what's trending now</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Create your videogames catalogue</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_01.jpg">
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_02.jpg">
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Search new titles</h2>
            <div class="screenshot-description"></div>
        </div>
        <div >
            <h2>Dark is even better!</h2>
        </div>
        <div class="row">
            <img id="screenshot-dark-image" alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_03.png">
            <img id="screenshot-dark-image" alt="" class="" src="/assets/img/screenshots/gamegallery_screenshot_04.png">   
        </div>
    </div>
</div>