<!-- Portfolio Grid Section -->
<style>

    .row {
        flex: auto;
  display: flex;
  flex-direction: row;
    }

    .screenshot-description {
        height: 40%;
    }

    .screenshot-image {
        max-width: 60%;
        max-height: 60%;
    }

    .button-grid {
        justify-content: center;
        display: grid;
        padding: 3rem;
    }
    .button-item {
        background-color: #EDE0D4;
        border-radius: 2rem;
        border: none;
        padding: 1rem;
        font-size: 1.25rem;
        font-family: inherit;   
        color: black;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }

    .container {
flex: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  justify-content: center;

}

.container-text {
    flex: 0 1 1000px;
    justify-content: center;
}

.container-item {
    height: fit-content;
    width: max-content;
    width: 70%;
}

.text {
    padding-top: 20%;
    padding-right: 1rem;
}

@media only screen and (max-width: 800px) {
  .container { flex-wrap: wrap;  }
}

</style>

<div>
    <div class="row" style="align-items: center;">
        <div class="column button-grid">
            <a href="https://apps.apple.com/us/app/Dispensa/id1519593445">
                <Button class="button-item">
                    <i class="fab fa-apple fa-1.5x" style="color: black;"></i>
                    Download from Apple Store
                </Button>
            </a>
        </div>

        <div class="column button-grid">
            <a href="https://play.google.com/store/apps/details?id=com.idispensa">
                <Button class="button-item">
                    <i class="fab fa-android fa-1.5x" style="color: black;"></i>
                    Download from Play Store
                </Button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="container-text">
                <h2 class="text">Keep track of your consumption</h2>
            </div>
            <div class="screenshot-image"> 
                <img alt=""  src="/assets/img/screenshots/idispensa_ios_preview_01.png">
            </div>
            <div class="screenshot-image"> 
            <img alt="" src="/assets/img/screenshots/idispensa_android_preview_01.png">
        </div>
        </div>

        <div class="container">
            <div class="container-text">
                <h2 class="text">Add your pantries!</h2>
            </div>
            <div class="screenshot-image"> 
                <img alt=""  src="/assets/img/screenshots/idispensa_ios_preview_02.png">
            </div>
            <div class="screenshot-image"> 
            <img alt="" src="/assets/img/screenshots/idispensa_android_preview_02.png">
        </div>
        </div>

        <div class="container">
            <div class="container-text">
                <h2 class="text">Go to the grocery and taske what you really needs!</h2>
            </div>
            <div class="screenshot-image"> 
                <img alt=""  src="/assets/img/screenshots/idispensa_ios_preview_01.png">
            </div>
            <div class="screenshot-image"> 
            <img alt="" src="/assets/img/screenshots/idispensa_android_preview_01.png">
        </div>
        </div>

        <div class="container">
            <div class="container-text">
                <h2 class="text">Organize your pantries in separated boxes</h2>
            </div>
            <div class="screenshot-image"> 
                <img alt=""  src="/assets/img/screenshots/idispensa_ios_preview_03.png">
            </div>
            <div class="screenshot-image"> 
            <img alt="" src="/assets/img/screenshots/idispensa_android_preview_03.png">
        </div>
        </div>
    </div>
</div>