<!-- Portfolio Grid Section -->
<style>
    .screenshot-description {
        height: 40%;
    }

    .screenshot-image {
        height: 70%;
    }

</style>

<div>
    <div class="row">
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/idispensa_screenshot_00.png">
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
                <h2>Add your favourite meals</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Keep track of your consumption</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/idispensa_screenshot_01.png">
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/idispensa_screenshot_02.png">
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Go to the grocery and taske what you really needs!</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <div class="screenshot-description"></div>
            <h2>Have a look on each pantry box</h2>
            <div class="screenshot-description"></div>
        </div>
        <div class="column">
            <img alt="" class="" src="/assets/img/screenshots/idispensa_screenshot_03.png">
        </div>
        <div>
            <h2>As always, dark mode!</h2>
        </div>
        <div class="row" >
            <div>
                <img alt="idispensa-screenshot-00-dark" 
                    src="/assets/img/screenshots/idispensa_screenshot_00_dark.png">
            </div>
            <div>
                <img alt="idispensa-screenshot-01-dark"
                    src="/assets/img/screenshots/idispensa_screenshot_01_dark.png">
            </div>
        </div>
    </div>
</div>